
<div class="row text-start mb-3">
    <div class="col-3">ORGANIZACAO</div>
    <div class="col-9 text-end text-small text-secondary">
        <span>{{formattedDate}}</span>
    </div>
</div>

<div class="row text-start">
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <div class="card-tools">
        <div class="card">
            <div class="card-title mt-2 ms-2 fw-bold">
                Ferramentas
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <div class="card-tools">
        <div class="card">
            <div class="card-title mt-2 ms-2 fw-bold">
                Integrações
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <div class="card-tools">
        <div class="card">
            <div class="card-title mt-2 ms-2 fw-bold">
                Alertas
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <div class="card-tools">
        <div class="card">
            <div class="card-title mt-2 ms-2 fw-bold">
                Trabalho
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
  </div>
</div>
