<div class="d-flex flex-column h-100 px-0 py-2 w-100" style="height: 100vh;">
    <!-- header -->
    <div class="d-flex justify-content-between align-items-center w-100 px-4 py-2">
        <div class="title-header d-flex flex-column align-items-start">
            <span class="description text-secondary d-none d-md-block" *ngIf="!isLoadingData">{{
                description
                }}</span>
        </div>
        <div class="actions d-flex align-items-center gap-2">
            <div class="btn btn-sm btn-agrovys-secondary text-agrovys d-flex gap-2 align-items-center"
                [class.disabled]="!hasSelectedFarms" (click)="archiveSelectedFarms()">
                <i class="fa fa-box-archive"></i>
                <span class="d-none d-md-block">Arquivar</span>
            </div>
            <div class="btn btn-sm btn-agrovys-primary d-flex gap-2 align-items-center" (click)="handleNewFarm()">
                <i class="fa fa-upload"></i>
                <span class="d-none d-md-block">Importar Fazenda</span>
            </div>
        </div>
    </div>

    <!-- Content fills the rest of the height -->
    <div class="row m-0 flex-grow-1 w-100" style="min-height: 0;">
        <!-- side -->
        <div class="col-12 col-sm-4 col-md-4 col-xl-3 p-0 h-100">
            <div class="card rounded-0 border-0 h-100 w-100" [ngClass]="{ 'bg-loading': isLoadingData }">
                <div class="card-body text-start">
                    <div class="card-body pt-0">
                        <div class="list-farms overflow-x-hidden" *ngIf="!isLoadingData">
                            <!-- filter -->
                            <div class="row">
                                <div class="col-12 d-flex gap-2">

                                    <div class="input-group mb-3">
                                        <span class="input-group-text text-danger" id="basic-addon1">
                                            <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
                                        </span>
                                        <input type="text" class="form-control form-control-sm" placeholder="Pesquisar"
                                            aria-label="pesquisar" aria-describedby="basic-addon1" />
                                    </div>

                                    <div class="dropdown">
                                        <button class="btn btn-agrovys-outline-primary" type="button"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-filter"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end p-3 shadow"
                                            aria-labelledby="dropdownMenuButton1" style="min-width: 250px">
                                            <h6 class="dropdown-header px-0 text-dark">Filtros</h6>
                                            <li class="mb-2">
                                                <label class="form-label small">Unidade</label>
                                                <input type="text" class="form-control form-control-sm" />
                                            </li>
                                            <li class="mb-2">
                                                <label class="form-label small">Fazenda</label>
                                                <input type="text" class="form-control form-control-sm" />
                                            </li>
                                            <li class="mb-2">
                                                <label class="form-label small">Talhão</label>
                                                <input type="text" class="form-control form-control-sm" />
                                            </li>
                                            <li class="mb-2">
                                                <label class="form-label small">Status</label>
                                                <select class="form-select form-select-sm">
                                                    <option selected>Todos</option>
                                                    <option value="1">Ativo</option>
                                                    <option value="2">Inativo</option>
                                                </select>
                                            </li>
                                            <li class="mt-3">
                                                <button class="btn btn-agrovys-primary btn-sm w-100">
                                                    Aplicar
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="text-secondary text-small d-flex align-items-center gap-2">
                                        <i class="fa fa-database cursor-pointer" aria-hidden="true"></i>
                                        <span>BD_AGROVYS:
                                            <span class="text-danger fw-bold">Desconectado</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <hr>
                                </div>
                                <div class="col-12 text-end">
                                    <button class="btn btn-sm btn-agrovys-outline-primary">
                                        <i class="fa fa-plus"></i>&nbsp;
                                        Novo
                                    </button>
                                </div>
                            </div>

                            <!-- list -->
                            <div class="accordion accordion-flush" id="accordionFarms" *ngIf="farms.length > 0">
                                <div class="accordion-item" *ngFor="let farm of farms; let i = index">
                                    <div class="accordion-header d-flex align-items-stretch bg-white rounded-2"
                                        [id]="'heading' + i">
                                        <div class="px-3 d-flex align-items-center">
                                            <input class="form-check-input" type="checkbox" [id]="'check' + i"
                                                [checked]="farm.selected" (change)="farm.selected = !farm.selected" />
                                        </div>

                                        <div class="flex-grow-1 d-flex flex-column justify-content-center">
                                            <!-- VIEW MODE (Triggers Accordion) -->
                                            <div class="d-flex flex-column justify-content-center py-3 w-100 h-100"
                                                data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i"
                                                style="cursor: pointer;">
                                                <span class="fw-bold text-dark">{{ farm.name }}</span>
                                                <span class="text-secondary small">{{ farm.area }} (ha)</span>
                                            </div>
                                        </div>

                                        <!-- Native Bootstrap Accordion toggle button (Chevron only) -->
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i"
                                            style="width: 50px; background: none; box-shadow: none; border: none; padding-right: 1.5rem;">
                                        </button>

                                        <div class="px-2 d-flex align-items-center gap-2">
                                            <span class="text-secondary-light text-larger">|</span>
                                            <i class="fa fa-pencil p-2 cursor-pointer" aria-hidden="true"
                                                title="Editar nome" (click)="editFarmName(farm)"></i>
                                        </div>


                                    </div>
                                    <div [id]="'collapse' + i" class="accordion-collapse collapse"
                                        [attr.aria-labelledby]="'heading' + i" data-bs-parent="#accordionFarms">
                                        <div class="accordion-body">
                                            <!-- <ul class="nav nav-tabs" [id]="'tab' + i" role="tablist">
                        <li class="nav-item">
                          <button
                            class="nav-link active small"
                            [id]="'field-tab' + i"
                            data-bs-toggle="tab"
                            [attr.data-bs-target]="'#field' + i"
                            type="button"
                            role="tab"
                          >
                            Talhões ({{ farm.fields.length }})
                          </button>
                        </li>
                        <li class="nav-item">
                          <button
                            class="nav-link small"
                            [id]="'guidance-tab' + i"
                            data-bs-toggle="tab"
                            [attr.data-bs-target]="'#guidance' + i"
                            type="button"
                            role="tab"
                          >
                            Linhas
                          </button>
                        </li>
                      </ul>
                      <div
                        class="tab-content border border-top-0"
                        [id]="'content' + i"
                      >
                        <div
                          class="tab-pane fade show active p-2"
                          [id]="'field' + i"
                          role="tabpanel"
                        >
                          <ul class="list-group list-group-flush">
                          <li
                              class="list-group-item px-0"
                              *ngFor="let field of farm.fields"
                            >
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <span
                                  >{{ field.name }}
                                  <span class="text-small text-secondary"
                                    >({{ field.area }} ha)</span
                                  >
                                </span>
                                <div class="d-flex gap-1">
                                  <button
                                    class="btn btn-sm btn-outline-primary py-0"
                                    style="font-size: 10px"
                                    title="Fazer upload do limite do talhão (SHP)."
                                  >
                                    <i class="fa fa-upload"></i> Limite
                                  </button>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div
                          class="tab-pane fade p-2"
                          [id]="'guidance' + i"
                          role="tabpanel"
                        >
                          <span class="text-muted small"
                            >Nenhuma linha guia cadastrada.</span
                          >
                        </div>
                      </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- map -->
        <div class="col-12 col-sm-8 col-md-8 col-xl-9 p-0 position-relative h-100">
            <div class="d-none d-md-block w-100 h-100" [ngClass]="{ 'bg-loading': isLoadingData }">
                <div class="map-farms h-100 pe-0 position-relative z-0" *ngIf="!isLoadingData">
                    <app-farm-map></app-farm-map>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #notFoudFarm>
    <div class="border text-secondary d-flex align-items-center justify-content-center mt-5 h-25">
        <span>Nenhuma Fazenda Encontrada</span>
    </div>
</ng-template>
<!-- new farm -->
<app-modal *ngIf="isVisibleNewFarm" [isVisible]="isVisibleNewFarm" [isCentered]="true" [isHeader]="true"
    [isActionsDisabled]="isLoadingNewFarm" [size]="'xl'" [title]="'Cadastrar Nova Fazenda'"
    [description]="'Preencha todas as informações para cadastrar uma nova fazenda!'"
    [styleTextTitle]="'bg-secondary-subtle'" [iconTitle]="''" [customActions]="actionsModal"
    (actionClick)="handleModalAction($event)" (close)="isVisibleNewFarm = false">
    <ng-template>
        <app-farm-new #newFarm (loadingEmit)="handleLoadingNewFarm($event)"
            (successEmit)="handleSuccessNewFarm()"></app-farm-new>
    </ng-template>
</app-modal>