<div class="container-fluid">
  <div class="row">
    <div class="col-12 h-100 d-flex align-items-center justify-content-center flex-column gap-4">
      
      <div class="card shadow pt-4 border-0">
        <div class="icon rounded-circle p-3 bg-white text-secondary border-top-agivys-secondary border-4">
          <img class="logo" src="images/logo/logo-brand.png" alt="">
        </div>
        <div class="card-header bg-transparent border-0">
          <span class="text-agivys h2">Acessar Conta</span>
        </div>
        <div class="card-body">
          <app-login-form></app-login-form>
        </div>
        <div class="card-footer d-flex flex-column bg-transparent border-0 text-small text-secondary">
          <div class="links">
            <a href="#" class="text-agivys-secondary">Contato</a>
            <a href="#" class="text-agivys-secondary">Termos de Uso</a>
            <a href="#" class="text-agivys-secondary">Políticas de Privacidade</a>
          </div>
          <span>Copyright © 2026 Agivys MEI. Todos os direitos são reservados.</span>
        </div>
      </div>
    </div>
  </div>
</div>