<div class="row flex-nowrap overflow-x-auto h-100 align-items-center px-3 text-secondary nav-scroll">

    <div class="col-auto d-flex align-items-center justify-content-between gap-2 border-end h-100 nav-item my-1"
        routerLink="/home" routerLinkActive="active">
        <i class="fa-regular fa-home"></i>
        <span>Pagina Inicial</span>
    </div>

    <!-- <div class="col-auto d-flex align-items-center justify-content-between gap-2 border-end h-100 nav-item" 
         routerLink="/map" routerLinkActive="active">
        <i class="fa-regular fa-map"></i>
        <span>Mapa</span>
    </div> -->

    <div class="col-auto d-flex align-items-center justify-content-between gap-2 border-end h-100 nav-item"
        routerLink="/farms" routerLinkActive="active">
        <i class="fa-brands fa-houzz"></i>
        <span>Fazendas</span>
    </div>

    <!-- <div class="col-auto d-flex align-items-center justify-content-between gap-2 border-end h-100 nav-item" 
         routerLink="/equipments" routerLinkActive="active">
        <i class="fa fa-tractor"></i>
        <span>Equipamentos</span>
    </div>

    <div class="col-auto d-flex align-items-center justify-content-between gap-2 border-end h-100 nav-item" 
         routerLink="/jobs" routerLinkActive="active">
        <i class="fa-regular fa-clipboard"></i>
        <span>Trabalho</span>
    </div>

    <div class="col-auto d-flex align-items-center justify-content-between gap-2 border-end h-100 nav-item border-0" 
         routerLink="/integrations" routerLinkActive="active">
        <i class="fa fa-gear"></i>
        <span>Integrações</span>
    </div> -->

</div>