.nav-item {
  cursor: pointer;
  transition:
    color 0.2s ease,
    background-color 0.2s ease;
  padding: 0 1rem;

  /* 👇 ADICIONE ESTE BLOCO AQUI 👇 */
  /* Este é o estilo que o Angular vai ativar via routerLinkActive */
  &.active {
    background-color: lightgray;
    /* Escolha a cor de destaque que preferir */
    color: rgb(30, 30, 30);
    font-weight: bold;
  }

  &:hover {
    background-color: gray !important;
    color: rgb(30, 30, 30);
    cursor: pointer;
    transform: translateY(-1px) !important;
  }

  /* Isso aqui é só para o clique do mouse (quando o botão está pressionado) */
  &:active {
    background-color: gray !important;
    transform: scale(0.97) !important;
    color: rgb(30, 30, 30);
  }
}

span,
i {

  :host-context(.screen-small) & {
    font-size: x-small;
  }

  :host-context(.screen-medium) & {
    font-size: small;
  }

  :host-context(.screen-large) & {
    font-size: small;
  }

  :host-context(.screen-x-large) & {
    font-size: smaller;
  }
}