:host {
  text-align: center;
}

.home {
  // background-image: url('../../../../../public/images/logo/logo-bit.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25%;
  min-height: 85vh;
  // opacity: 0.2;
  padding: 3vh 2vw;
}

.setup {
  // background-image: url('../../../../../public/images/logo/logo-bit.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25%;
  min-height: 85vh;
  // opacity: 0.2;
  padding: 3vh 2vw;

  .account {
    .avatar {
      height: 70px;

      :host-context(.screen-large) & {
        height: 100px;
      }
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: left;

  .title {
    font-size: x-large;
    color: rgb(3, 3, 91);
  }

  .description {
    font-size: medium;
    color: gray;
  }
}

.content {
  overflow-y: hidden !important;
}

@media (max-width: 991px) {}