<div class="content h-100 overflow-x-hidden" *ngIf="isRouteReady">
  <ng-container *ngIf="isPublicRoute">
    <router-outlet></router-outlet>
  </ng-container>

  <nz-layout *ngIf="!isPublicRoute">

    <!-- <nz-sider
      *ngIf="!isMobile"
      nzTheme="light"
      nzCollapsible
      [nzWidth]="200"
      [nzTrigger]="null"
      [(nzCollapsed)]="isVisibleMenu"
    >
      <div class="logo-container p-2 text-center">
        <a routerLink="/bit-admin/home">
          <img [src]="isVisibleMenu ? 'images/logo/logo-agrovys.png' : 'images/logo/logo-agrovys-brand.png'" 
               [height]="isVisibleMenu ? 30 : 60" />
        </a>
      </div>
      <app-sider-menu [collapsed]="isVisibleMenu"></app-sider-menu>
    </nz-sider> -->

    <nz-drawer *ngIf="isMobile" nzWidth="200" [nzVisible]="isVisibleMenu" nzPlacement="left" [nzTitle]="''"
      [nzClosable]="false" (nzOnClose)="isVisibleMenu = false">
      <ng-container *nzDrawerContent>
        <div class="mb-4 text-center">
          <img src="images/logo/logo-agrovys.png" height="60" />
        </div>
        <app-sider-menu [collapsed]="false"></app-sider-menu>
      </ng-container>
    </nz-drawer>

    <nz-layout>
      <nz-header class="bg-light border p-0">
        <app-header (collapsedOut)="onChangeVisibleMenu($event)"></app-header>
      </nz-header>
      <nz-header class="bg-light border p-0 d-none d-sm-block" style="height: 5vh;">
        <app-header-menu></app-header-menu>
      </nz-header>
      <nz-header class="bg-light border p-0" style="height: 5vh;"
        [ngClass]="{'d-none d-sm-block': isVisibleAlert, 'd-none': !isVisibleAlert}">
        <app-alert-page (statusAlert)="getStatusAlert($event)"></app-alert-page>
      </nz-header>

      <nz-content class="content">
        <!-- <div class="card border-0 bg-transparent mb-3">
          <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
        </div> -->
        <router-outlet></router-outlet>
      </nz-content>

      <!-- <nz-footer class="text-center">
          <span>Copyright © 2026 Agrovys MEI. Todos os direitos são reservados.</span>
      </nz-footer> -->
    </nz-layout>
  </nz-layout>
</div>

<app-toast-container></app-toast-container>